[package]
name = "sinowealth-kb-tool"
description = """
A utility for reading and writing flash contents on Sinowealth 8051-based devices
"""
repository = "https://github.com/carlossless/sinowealth-kb-tool"
version = "0.0.8"
edition = "2021"
license = "MIT"
rust-version = "1.76"

[dependencies]
clap = "4.1"
clap-num = "1.0"
ihex = "3.0"
md5 = "0.7"
thiserror = "1.0"

[dependencies.hidapi]
version = "2.6"
default-features = false
features = ["linux-static-libusb", "macos-shared-device"]

[dependencies.log]
version = "0.4"
features = ["max_level_debug"]

[dependencies.simple_logger]
version = "4.3"
default-features = false
features = ["stderr", "colors"]

[dependencies.phf]
version = "0.11"
features = ["macros"]
