[package]
name = "sinowealth-kb-tool"
description = """
A utility for reading and writing flash contents on Sinowealth 8051-based devices
"""
repository = "https://github.com/carlossless/sinowealth-kb-tool"
version = "0.0.3"
edition = "2021"
license = "MIT"
rust-version = "1.65"

[dependencies]
clap = "4.1"
hidapi = "2.4"
ihex = "3.0"
md5 = "0.7"
thiserror = "1.0"

[dependencies.log]
version = "0.4"
features = ["max_level_debug", "release_max_level_info"]

[dependencies.simple_logger]
version = "4.1"
features = ["stderr", "colors"]

[dependencies.phf]
version = "0.11"
features = ["macros"]
